.card-title
{
 background-color:#ff9800;
 color:black;
 padding:1rem;
 border-radius:5px;
 border:1px solid black;
}
.card
{
 border-radius:5px;
}
.card-text
{
 padding:1rem;
 color:white;
}
.card-body
{
	background-color:black;
	
}
.internal-div
{
	border: 2px solid #ff9800;
	padding:1rem;
	background-color: #000000;
}