.card-title
{
 background-color: #ff9800;
 color:black;
 padding:1rem;
 border-radius:5px;
 font-style: cursive;
}
.card
{
 border-radius:2px;
}
.card-text
{
 padding:1rem;
 font-style: cursive;

}
.card-body
{
	padding:0px !important;
	background-color: black;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #ff9800;
}

.internal-div
{
	border: 2px solid #ff9800;
	padding:1rem;
	background-color: #000000;
}